body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('http://localhost:8080/Quiz/Images/bg2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#Container{
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(1px);
    border: 2px solid black;
    border-radius: 15%;
    max-width: auto;
    max-height: auto;
    min-width: auto;
    min-height: auto;
    display: flex;
    flex-direction: column;
}
#pannel{
    padding: 50px;
}
.Button{
    background-color: aqua;
    color: black;
    height: 25px;
    width: 100px;
    border-radius: 50px;
    font-size: 15px;
}
label{
    font-size: 24px;
    color: cornsilk;
}
.styled-textbox {
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4CAF50;
    border-radius: 50px;
    background-color: #f9f9f9;
    color: #333;
}
td{
    padding: 30px;
}
.bn{
    display: flex;
    padding: 25px;
    justify-content: center;
    gap: 20px;;
}
.Button:hover{
    background-color: #333;
    color: aliceblue;
    transition-duration: .5s;
}
.error {
    color: red;
    font-weight: bold;
}